.content{
  margin: 75px auto;
  text-align: left;
}
.output {
  margin-top: 50px;
  display: none;
}

.card {
  padding: 50px;
  margin: 50px;
}

h1 {
  text-align: left;
}

#epicodus {
  float: right;
}

 #top {
   margin-top: 100px auto;
   padding-bottom: 30px;
   text align: left;
 }
